.fondo {
  background-image: linear-gradient(white, #82ffb2, #8b6cfa); }

h1 {
  color: #f30a0a;
  text-align-last: center;
  font-size: 2rem;
  padding: 10px;
  background-color: white; }

header {
  background-color: white; }

.navfooter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  padding-top: 20px; }
  .navfooter-text {
    text-decoration: none;
    font-size: 12px;
    color: black;
    padding: 10px 10px 10px 10px; }
    .navfooter-text-activo {
      font-size: 15px;
      text-decoration: none;
      color: black; }

.whatsapp {
  display: inline;
  width: 50px;
  position: fixed;
  top: 550px;
  right: 10px; }
  
.transporteD {
  display: inline;
  width: 50px;
  position: fixed;
  top: 350px;
  right: 10px; }

  .transporteI {
display: inline;
width: 50px;
position: fixed;
top: 350px;
left: 10px; }


.ubicacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 20px; }



footer {
  background-color: #8b6cfa; }

.redesSociales {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: auto;
  height: auto;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px; }

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 500px; }

.comentarios {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center;
  column-gap: 10px; }

.quienesSomos {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: none;
  width: 60%;
  height: auto;
  padding-left: 0;
  padding-top: 20px;
  padding-right: 0;
  padding-bottom: 0;
  margin-left: 20%;
  font-size: 20px;
  align-content: center; }

.imgHome:hover{
    box-shadow: 1px 2px 3px 4px rgba(20, 20, 20, 0.596);
    transition: .3s; } 
.imgHome {
  height: auto;
  width: 100%;
}

.navfooter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: none; }

.staff {
  display: grid;
  grid-template-columns: 20% 35% 20% 35%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  align-items: center;
  row-gap: 20px;
  column-gap: 20px;
  padding: 20px 20px 20px 20px; }

.alquiler {
  height: auto; }

.alquiler {
  display: grid;
  grid-template-columns: 23% 23% 23% 23%;
  grid-template-rows: 50% 50%;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  row-gap: 10px;
  height: auto; }

@media only screen and (max-width: 600px) {
  .alquiler {
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 20% 20% 20% 20%;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    row-gap: 10px; } 
  .whatsapp {
    top: 300px
  } }
  
    @media only screen and (min-width: 600px) {
  .transporteD {
    display: none; }
  .transporteI {
    display: none; }  }
