.fondo {
  background-image: linear-gradient(white, #82ffb2, #8b6cfa); }

h1 {
  color: #f30a0a;
  text-align-last: center;
  font-size: 2rem;
  padding: 10px;
  background-color: white; }

header {
  background-color: white; }

.navfooter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  padding-top: 20px; }
  .navfooter-text {
    text-decoration: none;
    font-size: 12px;
    color: black;
    padding: 10px 10px 10px 10px; }
    .navfooter-text-activo {
      font-size: 15px;
      text-decoration: none;
      color: black; }

.whatsapp {
  display: inline;
  width: 50px;
  position: fixed;
  top: 550px;
  right: 10px; }

.ubicacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 20px; }

footer {
  background-color: #8b6cfa; }

.redesSociales {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 10px 10px 10px;
  align-content: center;
  justify-content: center; 
}
.imgHome{ 
  width: 100%;    
}   
.alquiler{
  display: grid;
  grid-template-columns: 23% 23% 23% 23%; 
  grid-template-rows: 50% 50% ;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  row-gap: 10px;
}

.quienesSomos{
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: 20%;
  height : 800px;
  font-size: 20px;
  justify-content: space-around;
  align-content: center;
}   


/* DISPOSITIVOS PEQUEÑOS */

@media only screen and (max-width: 600px){
  .navbar1{ 
      display:flex;
      height: auto; 
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      list-style-type: none;
      background-color: rgb(151, 255, 151);
  }
  .boton{
      display:flex;
      width: auto;
      padding-top: 5px;
      padding-bottom: 5px;
      justify-content: center;
  }
  h1{ 
      text-align-last: center;
      font-size: 2rem;
      padding: 10px;
  }
  .ubicacion{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height:auto;
      padding: 20px;
  }
  .maps{
      width: 30%;
      height: auto;
  }
  .alquiler{
      display: grid;
      grid-template-columns: 40% 40%; 
      grid-template-rows: 20% 20% 20% 20%;
      justify-content: center;
      align-items: center;
      column-gap: 10px;
      row-gap: 10px;
  }
  .staff{
      grid-template-columns:  25% 55%;
      grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10%;
      align-items: center;
      row-gap: 20px;
  }
  .quienesSomos{
      font-size: 15px;
  }
  
  .navfooter{
      display : flex;
      flex-direction: column;
      align-items: center;
  }    
  }
  
  /* DISPOSITIVOS MEDIANOS */
  
  @media only screen and (min-width: 600px){
  
  h1{ 
      text-align-last: center;
      font-size: 3rem;
      padding: 10px;
  }    
  .ubicacion{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height:auto;
      padding: 20px;
  }
  .maps{
      width: 30%;
      height: auto;
  }    
  .alquiler{
      padding-bottom: 70px;
  }
  .staff{
      grid-template-columns:  25% 55%;
      grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10%;
      align-items: center;
      row-gap: 20px;
  }
  }
  
  /* DISPOSITIVOS DE ESCRITORIOS */
  
  @media only screen and (min-width: 920px){
  
  h1{ 
      text-align-last: center;
      font-size: 4rem;
      padding: 10px;
  }    
  .ubicacion{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height:auto;
      padding: 20px;
  }
  .maps{
      width: 30%;
      height: auto;
  }    
  .staff{
      display: grid;
      grid-template-columns:  15% 35% 15% 35%;
      grid-template-rows: 20% 20% 20% 20% 20%;
      align-items: center;
      row-gap: 20px;
      column-gap: 20px;
      padding: 20px 20px 20px 20px;
  }
  .alquiler{
      height: 600px;
  }
  }
  