* {
  margin: 0;
  padding: 0; }

.fondo {
  background-image: linear-gradient(white, #82ffb2, #8b6cfa); }

p {
  padding-left: 20px;
  padding-right: 20px; }

header {
  background-color: white; }

.navfooter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  padding-top: 60px; }
  .navfooter-text {
    text-decoration: none;
    font-size: 12px;
    color: black;
    padding: 10px 10px 10px 10px; }
    .navfooter-text--activo {
      font-size: 15px;
      text-decoration: none;
      color: black; }

h2 {
  color: #a193d3;
  text-align-last: center;
  font-size: 2rem;
  padding: 10px; }

.whatsapp {
  display: inline;
  width: 50px;
  position: fixed;
  top: 550px;
  right: 10px; }

.ubicacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 400px;
  padding: 20px; }

footer {
  background-color: #8b6cfa; }

.redesSociales {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: auto;
  height: auto;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px; }

.telefono {
  text-decoration: none;
  color: white; }

.navbar-nav {
  padding-left: 100px; }

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: auto; }

.form-centrado {
  text-align-last: center; }

.comentarios {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center;
  column-gap: 10px;
  margin-top: 20px; }

.comentario-btn {
  margin: 20px;
  text-align: center;
  border-color: black; }

.imgHome {
  box-shadow: 1px 2px 3px 4px rgba(20, 20, 20, 0.596);
  height: auto;
  width: 100%; }

.imgQuienesSomos {
  box-shadow: 1px 2px 3px 4px rgba(20, 20, 20, 0.596);
  height: auto;
  margin: 20px;
  width: 70%; }

.quienesSomos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: auto;
  padding-left: 0;
  padding-top: 20px;
  padding-right: 0;
  padding-bottom: 0;
  margin-left: 15%;
  font-size: 20px;
  align-content: center; }

h3 {
  text-align: center;
  margin: 20px; }

.navfooter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: none; }

.staff {
  display: grid;
  grid-template-columns: 25% 20% 25% 20%;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  column-gap: 20px;
  width: 100%;
  height: auto; }

.alquiler {
  display: grid;
  grid-template-columns: 40% 40%;
  grid-template-rows: 25% 25% 25% 25%;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  row-gap: 10px;
  height: auto; }

@media only screen and (max-width: 600px) {
  .navfooter {
    display: none; }
  h2 {
    color: #a193d3;
    font-size: 16px; }
  p {
    font-size: 12px; }
  .imgHome {
    height: auto;
    width: 80%; }
  .valores {
    font-size: 12px; }
  .transporteD {
    display: inline;
    width: 50px;
    position: fixed;
    top: 380px;
    right: 10px; }
  .transporteI {
    display: inline;
    width: 50px;
    position: fixed;
    top: 380px;
    left: 10px; }
  .alquiler {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .whatsapp {
    top: 490px; }
  .staff {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .carousel-control-next {
    display: none; }
  .carousel-control-prev {
    display: none; } }

@media only screen and (min-width: 600px) {
  .transporteD {
    display: none; }
  .transporteI {
    display: none; } }
