$colorBackgroundUno: white;
$colorBackgroundDos: rgb(130, 255, 178);
$colorBackgroundTres: rgb(139, 108, 250);
$colorTituloUno: rgb(161, 147, 211);
$colorBackgroundFooter: rgb(139, 108, 250);

*{
    margin: 0;
    padding: 0;
}
.fondo{
    background-image: linear-gradient($colorBackgroundUno , $colorBackgroundDos , $colorBackgroundTres) ;
}
p{
    padding-left: 20px;
    padding-right: 20px;
}
header{
    background-color: $colorBackgroundUno;
}
.navfooter{
    display : flex;
    flex-direction: row;
    justify-content:center;
    list-style-type: none;
    padding-top: 60px;
    &-text{
        text-decoration: none;
        font-size: 12px;
        color: black;
        padding: 10px 10px 10px 10px;
        &--activo{
            font-size: 15px;  
            text-decoration: none;
            color: black;
        }
    }
}
h1 {
    color: $colorTituloUno;
    text-align-last: center;
    font-size: 2rem;
    padding: 10px;
}
.whatsapp{ 
    display: inline;
    width: 50px;
    position: fixed;
    top: 550px;
    right: 10px;
}  
.ubicacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto ;
    height:400px;
    padding: 20px;
}    
footer{
    background-color: $colorBackgroundFooter;
}
@mixin medidas($ancho , $largo , $pad-1 , $pad-2 , $pad-3 , $pad-4){ 
    width: $ancho;
    height: $largo;
    padding-left: $pad-1;
    padding-top: $pad-2;
    padding-right: $pad-3;
    padding-bottom: $pad-4;    
}
@mixin grilla($display , $direcccion , $justificado , $align){
    display: $display;
    flex-direction: $direcccion;
    justify-content: $justificado;
    align-items: $align;
}
.redesSociales{
    @include grilla(flex, row, center, center);
    align-content: center;
    @include medidas(auto, auto, 10px, 10px,10px, 10px);
}
.telefono{
    text-decoration: none;
    color: white;
}
.navbar-nav{
    padding-left: 100px
}
.formulario{
    @include grilla(flex, column, space-around, center);
    height: auto;
}
.form-centrado{
    text-align-last: center;
}
.comentarios{
    @include grilla(flex, column, none, center);
    column-gap: 10px;
    margin-top: 20px;
}
.comentario-btn{
    margin: 20px;
    text-align: center;
    border-color: black;
}
.imgHome{
    box-shadow: 1px 2px 3px 4px rgba(20, 20, 20, 0.596);
    height: auto;
    width: 100%;
}
.imgQuienesSomos{
    box-shadow: 1px 2px 3px 4px rgba(20, 20, 20, 0.596);
    height: auto;
    margin: 20px ;
    width: 70%;
}
.quienesSomos{
    @include grilla(flex, column, center, center);
    @include medidas (70%, auto, 0,20px,0,0);
    margin-left: 15%;
    font-size: 20px;
    align-content: center;
}
h2{
    text-align: center;
    margin: 20px;
}
.navfooter{
    @include grilla(flex, row, center, none);
}
.staff{
    display: grid;
    grid-template-columns:  25% 20% 25% 20%;
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    column-gap: 20px;
    width: 100%;
    height: auto;
}
.alquiler{
    display: grid;
    grid-template-columns: 40% 40% ; 
    grid-template-rows: 25% 25% 25% 25%;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    row-gap: 10px;
    height: auto;
}    
@media only screen and (max-width: 600px){
    .navfooter{
        display: none;
    }
    h1 {
        color: $colorTituloUno;
        font-size: 16px;
    }
    p{
        font-size: 12px
    }
    .imgHome{
        height: auto;
        width: 80%;
    }
    .valores{
        font-size:12px;
    }
    .transporteD {
        display: inline;
        width: 50px;
        position: fixed;
        top: 380px;
        right: 10px; }
    .transporteI {
      display: inline;
      width: 50px;
      position: fixed;
      top: 380px;
      left: 10px; }
    .alquiler{
        @include grilla(flex, column, center, center)}
    .whatsapp{
        top: 490px;}
    .staff{ 
        @include grilla(flex, column, center, center)}
    .carousel-control-next{
        display: none; }
    .carousel-control-prev{
        display: none; }
}
@media only screen and (min-width: 600px) {
        .transporteD {
          display: none; }
        .transporteI {
          display: none; }  
}